.DS_Store

.gradle
build
.idea
advanced-template.iml
.settings/org.eclipse.buildship.core.prefs
.project
learning-objectives.adoc
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
